
        * {  
         margin: 0; /* sets the margin for the page. */
         padding: 0;/* sets the padding to make it look good. */
         user-select: none;
         box-sizing: border-box;
           }
        body {
         background-color: #0581ca;
         justify-content: center;
         align-items: center;
         display: flex;
         min-height: 100vh;
            }
        .box{
         background-color: white;
         padding-top: 30px;
         padding: 30px;
           }
   
 .box h1{
   margin-bottom: 40px;
   text-align: center;
   font-size: 26px;
   color: #015a96;
   font-family: sans-serif;
 }
